li{
    list-style-type: none;
}

.wordsContainer{
    margin: 20px;
}

.word{
    display: flex;
    flex-direction: column;
    background-color: beige;
    border-radius: 10;
    padding: 20px;
    
}

.word div{
    margin: 10px;
}

.inputContainer{
    margin: 20px;
}
